/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/atacseq -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '300.GB'
    max_cpus                   = 80
    max_time                   = '1000.h'

    // Input data
    input = '/home/joaquin/projects/chlpseq/data/metadata/TCP_15.csv'

    // Genome references
    genome = 'TAIR10'
    save_reference = true
    filtered_bed = "/home/joaquin/projects/chlpseq/data/metadata/genome/genome.include_regions.bed"

    mito_name   = "Mt"
    narrow_peak = true
    macs_fdr = 0.01
    macs_gsize = 150000000
    // Estimated fragment size used to extend single-end reads.
    fragment_size              = null
    // Number of genomic bins to use when calculating deepTools fingerprint plot.
    fingerprint_bins           = 500000

    mito_name   = "Pt"
}
